body{
    background-color: rgb(167, 249, 255);
}

h1{
    text-align:center;
}

.profile{
    width: 800px;
    margin-left: 400px;
    border: 3px solid rgb(255, 0, 0);
    border-radius:10px;
    font-size: 30px;
}

.goal{
    width: 500px;
    margin-left: 500px;
    margin-top: 10px;
    border: 3px solid rgb(255, 0, 0);
    border-radius:10px;
    font-size: 30px;
}

.link{
    text-align:center;
}

.hobby{
    width: 900px;
    margin-left: 350px;
    background-color: white;
    border-radius:10px;
}

.cardgame{
    width: 900px;
    margin-left: 350px;
    color: white;
    background-color:black;
    border-radius:10px;
    font-size: 20px;
}

.specialeffects{
    border:5px solid gold;
    width: 900px;
    margin-left: 350px;
    margin-bottom: 2px;
    color: white;
    background-color: red;
    border-radius:9px;
    font-size: 20px;
}

.title{
    border:5px solid gold;
    width: 900px;
    margin-left: 350px;
    margin-bottom: 2px;
    background-color:yellow;
    border-radius:9px;
    font-size: 20px;
}

.reason{
    border:5px solid gold;
    width: 900px;
    margin-left: 350px;
    color: white;
    background-color: green;
    border-radius:9px;
    font-size: 20px;
}

.extracurricularactivity{
    margin-right: 500px;
    background-color: silver;
    border-radius:9px;
    display: flex;
    font-size: 30px;
}

.start{
    margin-left: 600px;
    background-color: green;
    border-radius:9px;
    font-size: 30px;
}

.proud{
    margin-right: 500px;
    background-color: orangered;
    border-radius:9px;
    font-size: 30px;
}